<!DOCTYPE html>
<html>
  <head>
    <title>Mail2rss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= auto_discovery_link_tag :rss, articles_url(:format => :rss) %> 
    <link rel="alternate" type="application/rss+xml" title="Mail2Rss Test" href="http://localhost:3000?format=rss">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
